@tailwind base;
@tailwind components;
@tailwind utilities;

// Includes
@import 'includes/reset.scss';
@import 'includes/external.scss';

// Partials
@import 'partials/icons.scss';

// Global variables
:root {
    --header-height: 200px;
}

body {
    font-family: 'Poppins', sans-serif;
    image-rendering: pixelated;
}

header {
    background-image: url('../../public/assets/images/background.webp')
}
