@tailwind base;
@tailwind components;
@tailwind utilities;

// Includes
@import 'includes/reset.scss';
@import 'includes/external.scss';

// Partials
@import 'partials/icons.scss';
@import 'partials/loader.scss';

// User homes
@import 'home/items/notes.scss';
@import 'home/items/widgets.scss';
@import 'home/themes.scss';

html,
body {
    scroll-behavior: smooth;
}

:root {
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.10);
    --swiper-pagination-color: rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Poppins', sans-serif;
    image-rendering: pixelated;
}

.no-pixelated {
    image-rendering: auto !important;
}

header {
    background-image: url('/assets/images/background.webp')
}

body.shop {
    background: url('https://i.imgur.com/syUeW7n.png'), theme('colors.slate.900');
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #2058d9 #ffffff;
}

html {
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 7px;
        height: 7px
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #2058d9;
        border-radius: 3px;
        border: 2px none #ffffff;
    }

    #discord-widget {
        *::-webkit-scrollbar-thumb {
            background-color: #5765F2 !important;
        }
    }

    &.dark {
        *::-webkit-scrollbar-track {
            background: #1e293b;
        }
    }
}

.notyf {
    z-index: 100000
}

.home-container {
    transition: background-image 0.3s ease-in-out;

    .home-draggable {
        img {
            max-width: 100vw !important;
        }
    }
}
