@import '../../vendor/filament/filament/resources/css/app.css';

:root {
    --scrollbar-color: #2563eb;
}

* {
    scrollbar-color: var(--scrollbar-color) #fff !important;
    scrollbar-width: auto !important
}

::-webkit-scrollbar {
    background: transparent !important;
    height: 5px;
    width: 5px !important
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color) !important;
    border-radius: 10px !important
}

@screen lg {
    .filament-main-topbar {
        position: relative;
    }

    .filament-sidebar,
    .filament-main-topbar {
        @apply border-none shadow-none;

        background: transparent !important;

        li > .border-t {
            @apply border-slate-300 dark:border-slate-700 -mr-1;
        }
    }

    .filament-sidebar-nav {
        ul {
            &.px-6 {
                @apply space-y-3 px-3 pr-2;
            }

            &:not(.px-6) {
                @apply space-y-1 px-3;

                li {
                    @apply text-slate-800;
                }
            }
        }
    }

    .filament-sidebar-group {
        button {
            @apply p-2;
        }
    }
}
