html.bg-gray-100 {
    background: transparent
}

* {
    scrollbar-color: #eab308 #fff !important;
    scrollbar-width: auto !important
}

::-webkit-scrollbar {
    background: transparent !important;
    height: 5px;
    width: 5px !important
}

::-webkit-scrollbar-thumb {
    background-color: #eab308 !important;
    border-radius: 10px !important
}
