:root {
    --scrollbar-color: #2563eb;
}

* {
    scrollbar-color: transparent !important;
}

::-webkit-scrollbar {
    background: transparent !important;
    width: 5px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color) !important;
}
