.orion-loader {
    width: 48px;
    height: 48px;
    background: #2563eb; // blue 500
    --c: linear-gradient(#000 0 0);
    --s: 18px 18px;
    -webkit-mask:
        var(--c) left 4px top 4px,
        var(--c) right 4px top 4px,
        var(--c) right 4px bottom 4px,
        var(--c) left 4px bottom 4px,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-mask-repeat: no-repeat;
    animation: loader 3s infinite;
}

@keyframes loader {
    0% {
        -webkit-mask-size: 0 0, 0 0, 0 0, 0 0, auto
    }

    12.5% {
        -webkit-mask-size: var(--s), 0 0, 0 0, 0 0, auto
    }

    25% {
        -webkit-mask-size: var(--s), var(--s), 0 0, 0 0, auto
    }

    37.5% {
        -webkit-mask-size: var(--s), var(--s), var(--s), 0 0, auto
    }

    50% {
        -webkit-mask-size: var(--s), var(--s), var(--s), var(--s), auto
    }

    62.5% {
        -webkit-mask-size: 0 0, var(--s), var(--s), var(--s), auto
    }

    75% {
        -webkit-mask-size: 0 0, 0 0, var(--s), var(--s), auto
    }

    87.5% {
        -webkit-mask-size: 0 0, 0 0, 0 0, var(--s), auto
    }

    100% {
        -webkit-mask-size: 0 0, 0 0, 0 0, 0 0, auto
    }
}
