i.icon {
    &.big {
        width: 50px;
        height: 50px;

        &.users {
            background-image: url('https://i.imgur.com/7nexII3.png');
        }

        &.comment {
            background-image: url('https://i.imgur.com/JDAC7gB.png');
        }

        &.articles {
            background-image: url('https://i.imgur.com/4omceCu.gif');
        }

        &.fixed-articles {
            background-image: url('https://i.imgur.com/0p4exFF.gif');
        }

        &.camera {
            background-image: url('https://i.imgur.com/yTNQDwp.png');
        }

        &.users-comments {
            background-image: url('https://i.imgur.com/fJRM5AC.png');
        }

        &.hotel {
            background-image: url('https://i.imgur.com/Pm78c1s.gif');
        }

        &.coins {
            background-image: url('https://i.imgur.com/ckw1yDf.png');
        }


        &.pixels {
            background-image: url('https://i.imgur.com/uGY9pbm.png');
        }

        &.duckets {
            background-image: url('https://i.imgur.com/TjKAB3L.png');
        }

        &.points {
            background-image: url('https://i.imgur.com/uGY9pbm.png');
        }

        &.online-time {
            background-image: url('https://i.imgur.com/lINPIBX.png');
        }

        &.diamonds {
            background-image: url('https://i.imgur.com/7MyGvjK.png');
        }

        &.respects {
            background-image: url('https://i.imgur.com/IAN5XlU.png');
        }

        &.story-camera {
            background-image: url('https://i.imgur.com/ZiprNUC.png');
        }

        &.featured-products {
            background-image: url('https://i.imgur.com/dcIWFh5.png');
        }

        &.categories {
            background-image: url('https://i.imgur.com/WmNbq9Z.png');
        }

        &.online-friends {
            background-image: url('https://i.imgur.com/Yi1ty7r.png');
        }

        &.user-referrals {
            background-image: url('https://i.imgur.com/8TfT3FA.gif');
        }

        &.balance {
            background-image: url('https://i.imgur.com/zLEFQEq.png');
        }

        &.discord {
            background-image: url('https://i.imgur.com/KityAf8.png');
        }

        &.account-settings {
            background-image: url('https://i.imgur.com/Iub2F8w.png');
        }

        &.security-settings {
            background-image: url('https://i.imgur.com/nzzPQsM.png');
        }

        &.added-recent-questions {
            background-image: url('https://i.imgur.com/2c1h9CN.png');
        }

        &.most-asked-questions {
            background-image: url('https://i.imgur.com/1Nl5OcC.png');
        }
    }
}
