i.icon {
    &.small {
        width: 20px;
        height: 20px;

        &.home {
            background-image: url('/assets/images/icons/small/home.gif');
        }

        &.ifixed {
            background-image: url('/assets/images/icons/small/fixed.png');
        }
    }
}
